*{
  font-family:'Gudea', sans-serif;
  color: #023F4A;
}
.teamimg {
  width: 160px;
  border-radius: 500px;
  box-shadow: 5px 5px 10px #023F4A;
}
.first img {
  float: left;

}
.first span p {
  width: 400px;
  line-height: 1.3;
}
.first span{
  margin-left: 40px;
  display: inline-block;
  margin-top: 12px;
}
.first{
  padding: 50px;
  float: left;
}
.first span img {
  width: 22px;
  padding: 3px;
}
.first span h3 {
  font-size: 25px;
}
.farah{
  clear: both;
}
#our{
  text-align: center;
  font-size: 40px;
}
#our span{
  font-size: 25px;
}
.last-section p {
  margin-top: 50px;
}
.last-section article{
  margin-left: 50px;
}