
  
body { 
  background-color: white;

}

#sec1 {
  margin-top: 10%;
  margin-left: 10%;
}
#img1 {
width: 70%;
margin-left: 10%;
opacity: .8;
filter: grayscale(30%);
border-radius: 20px 20px 0px 0px ;
}

#leg {
  position: relative;
  margin-top: -110px;
  font-size: 45px;
  opacity: .9;
  text-align: center;
  font-weight: normal;
  color: white;
  font-family: 'Cookie', cursive;

}
#leg span {
  position: relative;
  margin-top: -110px;
  font-size: 30px;
  opacity: .9;
  text-align: center;
  font-weight: normal;
  color: white;
  font-family: 'Cookie', cursive;

}

form {
  background-color: #e7eef3;
  margin-left: 10%;
  margin-top: -4px;
  width: 70%;
  height: 870px;
  border-radius:  0px 0px 20px 20px;
  margin-bottom: 20%;  }

.group1 {
margin-left: 25%;
  height: 45px;
    width: 50%;
    text-align: center;
    background-color: white;
    opacity: .9;
    border: 1px solid #dddddd;
    border-radius:  5px;
  } 

#date  {
  color: grey;
  font-size: 15px;

}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

.radio {
  text-align: left;
  font-size: 15px;
  font-family: 'Gudea', sans-serif;
  color: grey;
  border: 1px solid rgb(221, 213, 213);
  border-radius: 10px;
  background-color: white;
  width:50% ;
  height:200px;
  margin-left: 25%;
  margin-bottom: 5%;


}
.radio article {
  margin-top: 10%;
}
#l1 {
  margin-left: 60px;
}
#l2 {
  margin-left: 20px;
}
#l3 {
  margin-left: 24px;
}
#l4 {
  margin-left: 18%;
}
#l5 {
  margin-left: 18%;
}
.radio label {
  margin-left: 10%;
}
.group2 {
  width: 20px;
  height: 20px;

}

.group2:hover {
  cursor: pointer;
}
.group2:checked {
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-width: 2px;
}
#size1 {
  margin-left: 40%;
  font-size: 20px;
  font-family: 'Gudea', sans-serif;
  color: #023f4a;
}
#size {
  color: grey;
  font-size: 15px;
  padding-left: 15%;
}

#submit {
  margin-top: 5%;
  padding: 2% 10%;
  border: none;
  background-color:#023f4a;
  color: white;
  font-size: 15px;
  font-family: 'Gudea', sans-serif;
  margin-left: 38%;

}
#submit:hover {
  margin-top: 5%;
  padding: 2% 10%;
  border: none;
  background-color:#dce7f5;
  color: #012a31;
  font-size: 17px;
  font-family: 'Gudea', sans-serif;
  margin-left: 38%;
}