
body { 
  height: 100px;
  background-color: white;
}
main{
  display: inline-block;
  width: 100%;
}
#h3{
  font-family: union-primary-font,union-sans-serif,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  box-sizing: inherit;
  padding: 9px 0px;
  text-align: center;
  background: rgb(6, 25, 41);
  font-size: 16px;
  font-weight: normal;
  color: white;
  margin: 0px;
  padding: 10px;
}
#sec1 {
  margin-top: 10%;
  margin-left: 10%;
}
#img1 {
  width: 70%;
  margin-left: 10%;
  opacity: .8;
  filter: grayscale(30%);
  border-radius: 20px 20px 0px 0px ;
}

#leg {
  position: relative;
  margin-top: -110px;
  font-size: 45px;
  opacity: .9;
  text-align: center;
  font-weight: normal;
  color: white;
  font-family: 'Cookie', cursive;

}
#leg span {
  position: relative;
  margin-top: -110px;
  font-size: 30px;
  opacity: .9;
  text-align: center;
  font-weight: normal;
  color: white;
  font-family: 'Cookie', cursive;

}
form {
  background-color: #e7eef3;
  margin-left: 10%;
  margin-top: -4px;
  width: 70%;
  height: 870px;
  border-radius:  0px 0px 20px 20px;
  margin-bottom: 20%;  }

.group1 {
  margin-left: 25%;
  height: 45px;
  width: 50%;
  text-align: center;
  background-color: white;
  opacity: .9;
  border: 1px solid #dddddd;
  border-radius:  5px;
} 

#date  {
  color: grey;
  font-size: 15px;

}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

.radio {
  text-align: left;
  font-size: 15px;
  font-family: 'Gudea', sans-serif;
  color: grey;
  border: 1px solid rgb(221, 213, 213);
  border-radius: 10px;
  background-color: white;
  width:50% ;
  height:200px;
  margin-left: 25%;
  margin-bottom: 5%;
}
.radio article {
  margin-top: 10%;
}
#l1 {
  margin-left: 60px;
}
#l2 {
  margin-left: 20px;
}
#l3 {
  margin-left: 24px;
}
#l4 ,#l5{
  margin-left: 18%;
}

.radio label {
  margin-left: 10%;
}
.group2 {
  width: 20px;
  height: 20px;
}
.group2:hover {
  cursor: pointer;
}
.group2:checked {
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-width: 2px;
}
#size1 {
  margin-left: 42%;
  font-size: 20px;
  font-family: 'Gudea', sans-serif;
  color: #023f4a;
}
#size {
  color: grey;
  font-size: 15px;
  padding-left: 18%;
}

#submit {
  margin-top: 5%;
  padding: 2% 10%;
  border: none;
  background-color:#023f4a;
  color: white;
  font-size: 15px;
  font-family: 'Gudea', sans-serif;
  margin-left: 38%;

}
#submit:hover {
  background-color:#dce7f5;
  color: #012a31;
  font-size: 17px;
} 

#results{
  text-align: center;
}

#results article {
  display: inline-block;
  width: 30%;
  /* margin-top: -300px; */
  background-color: #ffffffe3;
  margin: 0px 20px;
}
  
#results article ul li {
  text-align: center;
  list-style: none;
  text-align: center;
  margin-bottom: 7px;
  list-style-type: none;
  width: 100%;
}
#results article ul li:first-child {
  font-weight: bold;
  font-size: larger;
  margin-top: 15px;
}
.option-img {
  width: 30%;
  height: 396px;
  margin-top: -243px;
  margin-bottom: 101px;
  position: absolute;
  z-index: -1;
}
  
  .button {
    width: 100%;
    padding: 2%;
    border-style: hidden;
    background-color:#023f4a;
    color: white;
    font-size: 15px;
    font-family: 'Gudea', sans-serif;
  
  }
  .button:hover{
      background-color:#f0e2e2de;
      color: #012a31;
    }

  .template-backgrounds {
    box-shadow: 0 0 4px grey;
    width: 251px;
    height: 350px;
    margin: 25px;
}
#templates{
  margin-top: 166px;
}
#templates article h4{
  position: relative;
  margin-top: -110px;
  font-size: 45px;
  text-align: center;
  font-weight: normal;
  font-family: 'Cookie', cursive;
}
#templates article p {
  position: relative;
  margin: 15px;
  font-size: 20px;
  opacity: .9;
  text-align: center;
  font-weight: normal;
  /* font-family: 'Cookie', cursive; */
}