#logo{
  width: 150px;
  float: left;
}
header {
  background: white;
  height: 123px;
  box-shadow: 0 0 5px grey;
}
header h2 {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  /* line-height: 90px; */
  top: 30;
  /* margin-left: 150px; */
  float: left;
  margin-top: 45px;
}
header p {
  text-align: left;
  font-size: medium;
  float: left;
  margin-top: 75px;
  margin-left: -200px;
}
header nav{
  float: right;
}
header nav li{
  display: inline;
  margin-right: 20px;
  line-height: 133px;
  text-transform: uppercase;
}
header nav li a{
  text-decoration: none;
}