
body{
  font-family: union-primary-font,union-sans-serif,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
#a11{
  color: white;
}
#a12{
  text-decoration: none;
  color: white;
}
#h3{
  box-sizing: inherit;
  text-align: center;
  background: rgb(6, 25, 41);
  font-size: 16px;
  font-weight: normal;
  color: white;
  margin: 0px;
  padding: 10px;
}
#myVideo {
  box-sizing: inherit;
  width: 100%;
}
#i {
  position: relative;
  margin-top: -520px;
  width: 100%;
} 
.m {
  line-height: 1.5;
  position: absolute;
  top: 242px;
  left: 97px;
  color: #fff;
  font-size: x-large;
  font-weight: bold;
}
.btn {
  margin-top: 20px;
  font-family: union-primary-font,union-sans-serif,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  box-sizing: inherit;
  padding: .688rem 1.25rem;
  line-height: 1.5;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid rgb(146, 11, 11);
  text-transform: capitalize;
  font-weight: 500;
  width: 200px;
  background-color: rgb(146, 11, 11);
  border-color: rgb(146, 11, 11);
}
.container {
  text-align: center;
  width: 100%;
}
.icons {
  margin-top: -290px;
  position: relative;
  font-size: x-large;
  line-height: 1.5;
  font-weight: bolder;
  color: #01687b;
  text-decoration: none;
  display: inline-block;
  padding: 25px;
}
.H{
  font-size: medium;
  font-weight: lighter;
  color:  #01687b;
}
hr {
  clear: both;
  border: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 50px;
  margin-top: 70px;
  height: 1px;
  background: rgb(112, 107, 107);
  background-image: linear-gradient(to right, #ccc, rgb(112, 107, 107), #ccc);
}
.mySlides{
  float: right;
  width: 350px;
  height: 400px;
  margin-top: -330px;
  margin-right: 220px;
  box-shadow: 2px 2px 4px grey;
  border-radius: 5px;
}
#sec1 article p , #sec11 article p, #sec12 article p{
  box-shadow: 2px 2px 4px grey;
  border-radius: 4px;
  color: #01687b;
  font-size: large;
  font-weight: 600;
  height: 290px;
  line-height: 1.8;
  width: 600px;
  padding: 55px;
  text-align: left;
}
#sec1 article p {
  margin-left: 120px;
  margin-top: 100px;
}
#sec1 article p span ,  #j , #sec12 article p span{
  font-size: x-large;
  color: rgb(141, 29, 29);
  font-weight: bold;
} 
.w3-button {
  float: right;
  color:rgb(141, 29, 29);
  background-color: #ffffff;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 25px;
  margin-top: 30px;
}
#images span {
  float: right;
  margin-top: 50px;
  margin-right: -220px;
}
#sec1 {
  background-color:#ffffff;
  height: 550px;
  margin-bottom: 70px;
 
}
#images {
  margin-top: -70px;
}

.mySlides1{
  clear: both;
  float: left;
  width: 350px;
  height: 400px;
  margin-top: 0px;
  margin-left: 120px; 
  box-shadow: 2px 2px 4px grey;
  border-radius: 5px;
}
#f {
  margin-right: 120px;
  margin-top: 100px;
}
#d {
  margin-right: 260px;
  float: right;
  margin-top: -160px;
  width: 600px;
  padding: 55px;
}
.w3-button1{  
  float: left;
  color: rgb(141, 29, 29);
  background-color: #ffffff;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 25px;
  margin-top: 370px;
}
#s{
  margin-left: -210px;
}
#images1 span {
  float: left;
  margin-top: 50px;
}
#sec11 , #sec12 {
  background-color:#ffffff;
  height: 550px;
}
#images1 , #images2 {
margin-top: -70px;
}
.mySlides2{
  float: right;
  width: 350px;
  height: 400px;
  margin-top: -330px;
  margin-right: 200px;
  box-shadow: 2px 2px 4px grey;
  border-radius: 5px;
}
#sec12 article p {
  margin-left: 120px;
  margin-top: -10px;
 }
#sec12 article p span{
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 250px;
}
#sec12 article p article{
  margin-left: 50px;
  margin-top: 250px;
} 
.w3-button2 {
  float: right;
  color: rgb(141, 29, 29);
  background-color: #ffffff;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 25px;
  margin-top: 30px;
}
#images2 span {
  float: right;
  margin-top: 50px;
  margin-right: -220px;
}
/* #ar2 h3{
  text-align: center;
  padding: 20px;
  font-family: union-primary-font,union-sans-serif,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: rgb(26, 25, 83);
  background-color:  white;
  font-size: larger;
  font-weight: bold;

}
#ar2 p{
 text-align: center;
 padding: 20px;
 font-family: union-primary-font,union-sans-serif,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
 color: rgb(26, 25, 83);
 background-color:  white;
 font-size: larger;
 margin-left: 50px;
 margin-right: 50px;
 margin-top: 10px;
 line-height: 1.8;
} */

#our {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  color: rgb(141, 29, 29);
  font-family: union-primary-font,union-sans-serif,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 23px ;
  font-weight: bold;
}
#our span {
  font-size: 15px;
}
.last-section img {
  width: 160px;
  border-radius: 500px;
}
.last-section p {
  width: 100px;
}
.last-section article {
  float: left;
  margin: 7% 4.5% 0;
}
.last-section h3 {
  margin-top: 10%;
  color: rgb(141, 29, 29);
  font-family: union-primary-font,union-sans-serif,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 18px ;
  font-weight: bold;
  text-align: center;
  margin-bottom: 90%;
}
